@import "../../styles/constants.scss";

.container {
  height: 64px;
  padding: 0 1em;
  display: flex;
  align-items: center;
  background: $light_grey;
  border-radius: 12px;
  border: none;
  font: $text;
  color: $dark-grey;
  outline: none;
}

.container::placeholder {
  color: $placeholder-grey;
}
