@import "../../styles/constants.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
  cursor: pointer;
  border-radius: 12px;
}

.primary {
  background: $blue;
  color: #ffffff;
}

.secondary {
  background: $yellow;
  color: #ffffff;
}

.large {
  padding: 8px 16px;
  font: $large-title;
}

.medium {
  padding: 7px 12px;
  font: $medium-title;
  border-radius: 10px;
}

.small {
  padding: 5px 10px;
  font: $small-title;
  border-radius: 8px;
}
