$white: #ffffff;
$blue: #33A3FF;
$yellow: #ffcd36;
$light-blue: #cfe8fc;
$light-yellow: #fae5a3;
$grey: #666666;
$light-grey: #f4f4f4;
$dark-grey: #2a2a2a;
$placeholder-grey: #cccccc;
$large-title: normal normal bold 24px/28px Helvetica, sans-serif;
$medium-title: normal normal bold 16px/18px Helvetica, sans-serif;
$small-title: normal normal bold 12px/14px Helvetica, sans-serif;
$large-text: normal normal normal 24px/28px Helvetica, sans-serif;
$medium-text: normal normal normal 16px/18px Helvetica, sans-serif;
$small-text: normal normal normal 12px/14px Helvetica, sans-serif;