@import "../../../styles/constants.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  &.large {
    font: $large-text;
    margin-bottom: 16px;
  }

  &.default {
    font: $medium-text;
    margin-bottom: 8px;
  }

  &.small {
    font: $small-text;
    margin-bottom: 4px;
  }
}

.container {
  display: flex;
  align-items: center;
  background: $light_grey;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  width: 512px;

  &.invalid {
    border: solid 4px $red;
  }

  &.focused {
    border: solid 4px $grey;
  }

  &.focused.invalid {
    border-color: $red;
  }

  &::placeholder {
    color: $placeholder-grey;
  }

  &.large {
    height: 48px;
    padding: 10px 16px;

    input {
      color: $dark-grey;
      font: $large-text;
    }
  }

  &.large.focused,
  &.large.invalid {
    padding: 10px 12px;
  }

  &.default {
    height: 40px;
    padding: 11px 12px;
    border-radius: 10px;

    input {
      color: $dark-grey;
      font: $medium-text;
    }
  }

  &.default.focused,
  &.default.invalid {
    padding: 11px 8px;
  }

  &.small {
    height: 32px;
    padding: 8px 9px;
    border-radius: 8px;

    input {
      color: $dark-grey;
      font: $small-text;
    }
  }

  &.small.focused,
  &.small.invalid {
    padding: 8px 5px;
  }
}

.icon {
  margin-right: 8px;
  flex-shrink: 0;
  stroke: $grey;
}

.clear {
  margin-left: 8px;
  flex-shrink: 0;
  cursor: pointer;
}

.input {
  border: none;
  background: none;
  outline: none;
  width: 100%;

  &:invalid {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.validationMessage {
  padding: 4px;
  font: $small-text;
  color: $red;
}
