@import "../../../styles/constants.scss";

.wrapper {
  display: flex;
  flex-direction: column;
}

.label.large {
  font: $large-text;
  margin-bottom: 16px;
}

.label.default {
  font: $medium-text;
  margin-bottom: 8px;
}

.label.small {
  font: $small-text;
  margin-bottom: 4px;
}

.container {
  display: flex;
  align-items: center;
  background: $light_grey;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  width: 512px;
}

.container.focused {
  border: solid 4px $grey;
}

.container::placeholder {
  color: $placeholder-grey;
}

.icon {
  margin-right: 8px;
  flex-shrink: 0;
  stroke: $grey;
}

.clear {
  margin-left: 8px;
  flex-shrink: 0;
  cursor: pointer;
}

.input {
  border: none;
  background: none;
  outline: none;
  width: 100%;
}

.container.large {
  height: 48px;
  padding: 10px 16px;

  input {
    color: $dark-grey;
    font: $large-text;
  }
}

.container.large.focused {
  padding: 10px 12px;
}

.container.default {
  height: 40px;
  padding: 11px 12px;
  border-radius: 10px;

  input {
    color: $dark-grey;
    font: $medium-text;
  }
}

.container.default.focused {
  padding: 11px 8px;
}

.container.small {
  height: 32px;
  padding: 8px 9px;
  border-radius: 8px;

  input {
    color: $dark-grey;
    font: $small-text;
  }
}

.container.small.focused {
  padding: 8px 5px;
}
